<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
  
    <ion-title> Prices </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div *ngIf="hasNoData">
    <ion-img src="../assets/imgs/empty.svg"></ion-img>
  
    <ion-list-header style="margin-top: 10%">
      <ion-label color="primary" class="ion-text-center">
        No Data
        </ion-label>
    </ion-list-header>
    </div>
  
  <div [hidden]="!hideSkeleton">
    
      <ion-row *ngFor="let item of skeletOns; index as i">
        <ion-col><ion-skeleton-text [animated]="true" style="width: 200px; height: 400px;"></ion-skeleton-text></ion-col>
        <ion-col><ion-skeleton-text [animated]="true" style="width: 200px; height: 400px;"></ion-skeleton-text></ion-col>
        <ion-col><ion-skeleton-text [animated]="true" style="width: 200px; height: 400px;"></ion-skeleton-text></ion-col>
        <ion-col><ion-skeleton-text [animated]="true" style="width: 200px; height: 400px;"></ion-skeleton-text></ion-col>
        <ion-col><ion-skeleton-text [animated]="true" style="width: 200px; height: 400px;"></ion-skeleton-text></ion-col>
        <ion-col><ion-skeleton-text [animated]="true" style="width: 200px; height: 400px;"></ion-skeleton-text></ion-col>
      </ion-row>
    
    </div>
  <ion-list lines="none">
    <ion-row>
    <ion-item *ngFor="let item of cartypes">
     
          <ion-card color="primary">
            <ion-card-header>
              <ion-card-title>{{item.name}}</ion-card-title>
              <ion-card-subtitle>{{item.amount}}</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              <ion-button size="large" color="success" expand="block" shape="round" (click)="EditBtn(item)">
                <ion-icon name="create"></ion-icon>
                Edit
              </ion-button>
              <ion-button size="large" color="danger" expand="block" shape="round" (click)="Delete(item)">
                <ion-icon name="trash"></ion-icon>
                Delete
              </ion-button>
            </ion-card-content>
          </ion-card>
    
  </ion-item>
</ion-row>
  </ion-list>
</ion-content>



<ion-footer>
  <ion-fab vertical="bottom" horizontal="start" (click)="AddPrice()">
    <ion-fab-button size="large" color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-footer>
