<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history">
      <ion-icon name="timer"></ion-icon>
      <ion-label>Trips</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="manage">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Manage</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="drivers">
      <ion-icon name="car"></ion-icon>
      <ion-label>Drivers</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="customers">
      <ion-icon name="person"></ion-icon>
      <ion-label>Riders</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
