
.message {
    padding: 10px !important;
    border-radius: 10px !important;
    margin-bottom: 4px !important;
    white-space: pre-wrap;
    
}



.my-message {
    background: var(--ion-color-tertiary);
    color: #fff;
    animation-name: slide-top;
    animation-duration: 0.5s;
}

 
 
.time {
    color: #dfdfdf;
    float: right;
    font-size: small;
}
table {
    width: 100%;
    background: none;
    box-shadow: none;
    font-size: large;
    font-family: 'Lato';  //This is what we are going to call  
    overflow-x: scroll;
}


.mat-column-gender {
    width: 20%;
    background: none;
    box-shadow: none;
}

th.mat-sort-header-sorted {
    color: black;
    background: none;
    box-shadow: none;
  }
  
  mat-paginator{
    background: none;
    box-shadow: none;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
   // border-radius: 30px;
   // border: 1px solid white;
  }

  .mat-table {
    overflow-x: scroll;
  }
  
  .mat-cell,
  .mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 10px;
    line-break: unset;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    width: 40%;
    border-radius: 50px;
    background: none;
    box-shadow: none;
  }
  
  .mat-row,
  .mat-header-row {
    display: table-row;
  }