
capacitor-google-maps {
  display: inline-block;
  width: 100%;
  height: 80vh;
  border-radius: 2%;
}


@keyframes slide-top {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slide-bottom {
  100% {
    transform: translateY(50%);
  }
  0% {
    transform: translateY(0%);
  }
}


.slide-bottom {
	animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-top {
	animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


.centerPin{
  animation-name: slide-top;
  animation-duration: 0.8s;
}

.bottomItems{
  animation-name: slide-top;
  animation-duration: 0.5s;
}

ion-skeleton-text {                                                                                                                           
  --background: rgba(0, 98, 255, 0.625);
}


  

ion-content { --background: transparent; margin-top: 20px;}


ion-footer{
  ion-row {
    padding-top: 5vh;
    background: transparent;
    display: block;
    ion-fab-button {
        margin-right: 2.5vh;
    }
    ion-list {
        border-radius: 20px 20px 0 0;
        // padding-bottom: 6vh;
        ion-list-header {
            ion-label {
                font-weight: bold;
                font-size: 1.8rem;
            }
        }
    }
}
  ion-fab{
    margin-top: -40px;
  }
   ion-list{
     .payment{
      font-size: 1.1em;
      //  margin-top: 5px;
       color: var(--ion-color-dark); 
       --background: var(--ion-color-light);
       ion-item{
        color: var(--ion-color-dark); 
        --inner-padding-bottom: 1px;
        --inner-padding-end: 0;
        --inner-padding-start: 0;
        --inner-padding-top: 0;
        --background: var(--ion-color-light);
        p{
          color: var(--ion-color-dark); 
        }
       }
       
      
       
     }

  }
}
ion-skeleton-text {
  --background: rgba(188, 232, 198, 0.962);
}

.accept{
  font-size: 1.3em;
  padding: 12px;
}

.unbook{
  background: #0a602d;
  
}

.book{
  background: var(--ion-color-success);
}


.center-button {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}


.acceptTimer{
  font-size: 1.3em;
  color: aliceblue;
  margin-right: auto;
  background: var(--ion-color-danger);
  padding: 12px;
  border-radius: 100px;
  border: 1.3px solid aliceblue;
}

.centerElem
{
  justify-content: center;
  align-items: center;
}

.pickMe{
  height: 300px;
}

.price
 {
  margin-left: auto;
  flex: 0.7;
 }
 
 .shadow-top
  {
    box-shadow: 0px -1.5px 1.5px rgba(196, 196, 196, 0.414);
    animation-name: slide-top;
    animation-duration: 0.6s;
  }

  .top_bar{
    box-shadow: 0px 1.5px 1.5px rgba(196, 196, 196, 0.414);
    // --background: var(--ion-color-light-shade);
    // animation-name: slide-bottom;
    // animation-duration: 0.6s;
  }

  // .card{
  //   box-shadow: 0px -1.5px 1.5px rgba(196, 196, 196, 0.414);
  // }

.main-button{
  color: var(--ion-color-dark); 
  --background: var(--ion-color-light-shade);
  // border-bottom: 1px solid var(--ion-color-primary);
}

.preview {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}


.fallback {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  background: #bfbfbf;

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.map {
  width: 60%;
  height: 520px;
  padding-bottom: 100%;
  border-radius: 50%;
}

ion-col {
  display: flex;
 
}
ion-card {
  padding: 5px;
}


ion-icon{
  font-size: 20px;
}

img{
  width: 50%;
  float: right;
}

ion-card-title{
  font-size: 2em;
}
